.site-header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $site-header-height;
    background: $brand-color;
    font-family: $font-heading;
    font-weight: $font-normal;
    color: $black;

    &__inner {
        display: flex;
    }

    &__logo,
    &__menu,
    &__social {
        text-align: center;
    }

    &__logo {
        flex-basis: 20%;
        line-height: $site-header-height;
        padding: 0 10px;

        .site-logo {
            display: block;
            height: $site-header-height;

            img {
                height: calc( #{$site-header-height} - 20px);
                margin: 10px 0;
            }
        }
    }

    &__menu {
        flex-basis: 60%;
        font-size: 1.4em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .primary-menu {


            .menu {
                &__item {
                    a {
                        color: $color-text--light;

                        &:hover {
                            color: $accent-color;
                        }
                    }
                }
            }
        }
    }

    &__social {
        flex-basis: 20%;
        text-align: center;

        .social {
            line-height: $site-header-height;
        }
    }
}
