header {
    display: block;
    width: 100%;
    background: $brand-color;
    font-family: $font-heading;
    font-weight: $font-normal;
    color: $black;

    .top-header {
        display: flex;
        height: $site-header-height;

        &__logo,
        &__menu,
        &__social {
            text-align: center;
        }

        &__logo {
            flex-basis: 20%;
            line-height: $site-header-height;
            padding: 0 10px;

            .site-logo {
                display: block;
                height: $site-header-height;

                img {
                    height: calc( #{$site-header-height} - 20px);
                    margin: 10px 0;
                }
            }
        }

        #primary-menu {
            display: none;
        }
    }

    .hero {
        min-height: 940px;
        padding-top: 14rem;

        .headline h1 span {
            font-size: inherit;
            opacity: 0;

            &.is-visible {
                opacity: 1;
            }
        }
    }
}
