header {
    display: block;
    width: 100%;
    background: $brand-color;
    font-family: $font-heading;
    font-weight: $font-normal;
    color: $black;

    .top-header {
        position: fixed;
        display: flex;
        height: $site-header-height;
        width: 100%;
        background: $brand-color--80;

        &__logo,
        &__menu,
        &__social {
            text-align: center;
        }

        &__logo {
            flex-basis: 20%;
            line-height: $site-header-height;
            padding: 0 10px;

            .site-logo {
                display: block;
                height: $site-header-height;

                img {
                    height: calc( #{$site-header-height} - 20px);
                    margin: 10px 0;
                }
            }
        }

        #primary-menu {
            // display: none;
            position: fixed;
            top: 0;
            right: -40%;
            width: 40%;
            height: 100%;
            padding-top: $site-header-height;
            background-color: $white;
            text-align: left;
            animation: slideIn .5s ease-in-out both;
            -webkit-transition: width .7s ease-in-out, right .7s ease-in-out;
               -moz-transition: width .7s ease-in-out, right .7s ease-in-out;
                 -o-transition: width .7s ease-in-out, right .7s ease-in-out;
                    transition: width .7s ease-in-out, right .7s ease-in-out;

            ul {
                margin: 0;
                margin-left: 20%;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        @include font-size(4);
                        @include line-height(6);
                        color: $accent-color;

                        &:hover {
                            color: $brand-color;
                        }
                    }
                }
            }
        }

        .toggle-menu-wrapper,
        .hamburger {
            position: fixed;
            right: 1rem;
            width: 30px;

            &:hover {
                cursor: pointer;
            }
        }

        .toggle-menu-wrapper {
            top: 0;
            width: 30px;
            height: 100%;
            z-index: 999;
        }

        #toggle-menu {
            opacity: 0;

            &:checked {
                ~ #primary-menu {
                    right: 0;
                    width: 40%;
                }

                ~ .hamburger {
                    transform: rotate(45deg);
                    &:after {
                        transform: rotate(90deg);
                        bottom: 0;
                    }
                    &:before {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }

        .hamburger {
            top: calc( #{$site-header-height} / 2 );
            display: block;
            width: 30px;
            height: 2px;
            background: $color-text--dark;
            transform-origin: center;
            transition: .5s ease-in-out;
            z-index: 888;

            &:before,
            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: $color-text--dark;
                transition: .5s ease-in-out;
            }

            &:before {
                top: -10px;
            }

            &:after {
                bottom: -10px;
            }
        }
    }

    .hero {
        min-height: 940px;
        padding-top: 14rem;

        .headline h1 span {
            font-size: inherit;
            opacity: 0;

            &.is-visible {
                opacity: 1;
            }
        }
    }
}
